.encabezado {
    text-align: center;
    color: rgb(210, 204, 232);
    background-color: rgb(31, 29, 61);
    margin: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px rgb(210, 204, 232);
    border-radius: 20px;
    text-shadow: 0 2px 5px rgb(189, 180, 217);

}

body {
    background: linear-gradient(180deg, rgb(31, 29, 61), rgb(64, 15, 20));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(210, 204, 232);
}

.boton {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_girar {
    width: 120px;
    height: 120px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.img_boton {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.btn_girar:active {
    transform: scale(0.95) translateY(3px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.btn_girar:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.5);
}

.tablero {
    min-height: 200px;
    margin-top: 15px;
    width: 90%;
    background-color: rgb(232, 209, 167);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: inset 0 10px 30px rgb(68, 45, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.espacio {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background: #F5E3E0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: inset 0 10px 30px rgb(68, 45, 28);
}

.espacio img {
    width: 100px;
    height: 100px;
}

.Estadisticas {
    width: 60%;
    margin: 0 auto;
    margin-top: 25px;
    border-collapse: collapse;
    color:rgb(232, 209, 167);
}

.Estadisticas th,
.Estadisticas td {
    border:  solid #E8D1A7;
    padding: 10px;


}