.encabezado {
    text-align: center;
    color: rgb(210, 204, 232);
    background-color: rgb(31, 29, 61);
    margin: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px rgb(210, 204, 232);
    border-radius: 20px;
    text-shadow: 0 2px 5px rgb(189, 180, 217);

}

body {
    background: linear-gradient(180deg, rgb(31, 29, 61), rgb(64, 15, 20));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.boton {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_girar {
    width: 120px;
    height: 120px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 6px 12 px rgba(0, 0, 0,0.4);
}

.img_boton {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.tablero {
    min-height: 200px;
    margin-top: 15px;
    width: 90%;
    background-color: rgb(219, 186, 138);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;

    box-shadow: inset 0 10px 30px rgb(43, 35, 10);
}